<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Shopping mall</title>
  <link rel="stylesheet" href="css/style.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="js/main.js?ver=1"></script>
</head>
<body>
  <div class="logo">
    <img src="source/logo.png" alt="logo" class="logo-image">
  </div>

  <div class="buttons">
    <button class="btn">
      <img src="source/blue_t.png" alt="tshirt" class="tshirt-btn" data-key="type" data-value="tshirt")>
    </button>
    <button class="btn">
      <img src="source/blue_p.png" alt="pants" class="pants-btn" data-key="type" data-value="pants")>
    </button>
    <button class="btn">
      <img src="source/blue_s.png" alt="skirt" class="skirt-btn" data-key="type" data-value="skirt")>
    </button>
    <button class="btn color blue" data-key="color" data-value="blue")>Blue</button>
    <button class="btn color yellow" data-key="color" data-value="yellow")>Yellow</button>
    <button class="btn color pink" data-key="color" data-value="pink")>Pink</button>
    <button class="add-button" onclick="location.href='/main/add_form'">Add</button>
    <button class="add-button" onclick="location.href='/main/delete_form'">Delete</button>
    <button class="add-button" onclick="location.href='/main/update_form'">Update</button>
    <button class="return-home" onclick="location.href='/'">Home</button>
  </div>

  <div class="items">
    <ul class="items-ul">
<!--      <li class="item">-->
<!--        <img src="source/pink_t.png" alt="item1" class="item-img">-->
<!--        <span class="item-description">Male, Large</span>-->
<!--      </li>-->
<!--      <li class="item">-->
<!--        <img src="source/pink_t.png" alt="item1" class="item-img">-->
<!--        <span class="item-description">Male, Large</span>-->
<!--      </li>-->
    </ul>
  </div>
</body>
</html>